* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --yellow: #ffcc29;
    --blue: #1d539e;
    --gray: #828799;
    --page-background: #f9fbfc;
    --font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20rem;
    background-color: var(--blue);
    color: var(--page-background);
    position: fixed;
    font-family: var(--font-family);
}

header div {
    text-align: center;
    margin-bottom: 5rem;
}

header div h1 {
    padding: 2rem;
    font-size: 700;
}

header div h1 {
    font-size: 400;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
    flex-wrap: wrap;
}

.container {
    position: relative;
    z-index: 10;
    top: 13rem;
    margin: 2rem;
    padding: 2rem;
    width: 20rem;
    height: 28rem;
    border: 1px solid var(--gray);
    border-radius: 5px;
}

.container h2 {
    margin-bottom: 2rem;
}

.container h1, p, li {
    margin: 1rem 0;
}

.container p,
li {
    color: var(--gray);
}

.assinar p{
    border: 1px solid var(--blue);
    border-radius: 5px;
    text-align: center;
    color: var(--blue);
    padding: 1rem;
}

.one{
    margin-top: 6.5rem;
}

.two{
    margin-top: 3.2rem;
}